h1 {
  color: blue;

  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}

img {
  width: 400px;
}

#thirdDiv {
  width: 600px;
  height: 500px;
  background: aqua;
  padding: 50px;
  border: 1;
  border-style: dashed;
}

#spanId {
  font-size: 18px;
  margin: 50px;
  margin-top: 10px;
}
body {
  background-image: "416-800x600.jpg";
}
div {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-top: 10px;
}
